<div class="su-w-full su-component-multicolumn">
    <div class="su-relative su-flex su-flex-wrap md:su-flex-nowrap su-flex-1 su-place-content-between {{multicolumnGridClasses columns}}">
        {{> @partial-block }}
    </div>
</div>