<div class='su-w-full su-component-horizontal-card-grid' data-test='orientation-{{orientation}}'>
    <div class="su-relative su-grid {{horizontalCardOrientation orientation}}">
        {{> @partial-block }}
    </div>
</div>