/* stylelint-disable at-rule-no-deprecated */

[data-component="content-carousel"]
  .component-slider
  .component-slider-controls {
  @apply su-pt-21 su-mt-27 su-border-t su-border-t-black-40 su-items-start su-content-start su-gap-19 dark:su-border-t-black-70;
}

[data-component="content-carousel"]
  .component-slider
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet {
  @apply su-size-13 su-border-2 su-border-black dark:su-border-white hocus:su-border-digital-red hocus:dark:su-border-dark-mode-red;
}

[data-component="content-carousel"]
  .component-slider
  .swiper-pagination-horizontal.swiper-pagination-bullets
  .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply su-bg-black dark:su-bg-white su-border-black dark:su-border-white hocus:su-border-black hocus:dark:su-border-white;
}

[data-component="content-carousel"] .component-slider .component-slider-btn {
  @apply su-border-black-20 su-bg-white su-text-black dark:su-border-black-70 dark:su-bg-black-true dark:su-text-white hocus:su-bg-digital-red hocus:su-text-white hocus:su-border-digital-red hocus:dark:su-bg-dark-mode-red hocus:dark:su-text-white hocus:dark:su-border-dark-mode-red;
}

[data-component="content-carousel"] .su-wysiwyg-content > *:first-child {
  margin-top: 0;
}
