<div hidden="true" data-overlay-container="true" class="su-modal su-hidden" data-modal="modal" data-modal-id="{{uniqueID}}">
    {{#if modalTitle}}<h2>{{modalTitle}}</h2>{{/if}}
    <span data-focus-scope-start="true" hidden="true"></span>
    <div aria-describedby="{{titleID}}" role="dialog" tabindex="-1" data-modal="modal-dialog" data-ismodal="true" aria-modal="true">
        <div class="su-modal-content">
        {{> @partial-block }}
        </div>
    </div>
    <button type="button" class="su-component-close su-text-center" data-dismiss="modal">
        {{> svg-icons icon="close"}}
        <span>Close</span>
    </button>
    <span data-focus-scope-end="true" hidden="true"></span>
</div>