<span class="su-component-media-ratio su-overflow-hidden su-relative su-size-full su-block {{#if rounded}}su-rounded-3xl{{/if}} {{getAspectRatio aspectRatio}}">
    {{~#if videoUrl~}}{{~#isValidUrl videoUrl~}}
    <video class="su-absolute su-object-cover su-object-center su-size-full">
        <source src="{{videoUrl}}" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    {{~/isValidUrl~}}{{~/if~}}
    {{~#if imageUrl~}}
    <img class="su-absolute su-object-cover su-object-center su-size-full" src="{{imageUrl}}" alt="{{imageAlt}}"/>
    {{~/if~}}
    {{> @partial-block }}
</span>