<div class="component-slider {{#if isDark}} su-slider-dark{{/if}}">
    <div class="swiper ${variantData.variantClassName}">
        <div class="swiper-wrapper">
            {{> @partial-block }}
        </div>
        <div class="swiper-pagination component-slider-pagination-${uniqueClass}"></div>
    </div>
    <div class="component-slider-controls su-flex su-mt-45 lg:su-mt-48 su-items-center su-content-center">
        <nav aria-label="Slide Navigation" class="component-slider-pagination component-slider-pagination-{{uniqueID}} su-mr-full"></nav>
        <button class="component-slider-btn component-slider-prev" type="button">
            <span class="sr-only">Previous</span>
            <span aria-hidden="true" class="su-absolute su-top-[50%] su-left-[50%] su-translate-y-[-50%] su-translate-x-[-50%] su-inline-block">
            {{> svg-icons icon="chevron right"}}
            </span>
        </button>
        <button class="component-slider-btn component-slider-next" type="button">
            <span class="sr-only">Next</span>
            <span aria-hidden="true" class="su-absolute su-top-[50%] su-left-[50%] su-translate-y-[-50%] su-translate-x-[-50%] su-inline-block">
            {{> svg-icons icon="chevron right"}}
            </span>
        </button>
    </div>
</div>