div.featured-content-vv-related-card {
    svg.svg-inline--fa:not(:root),svg.svg-inline--fa:not(:host).fa-arrow-up-right.su-inline-block {
        height: 21px !important;
    }
}

div.featured-content-vv-featured-card {
    svg.svg-inline--fa:not(:root),svg.svg-inline--fa:not(:host).fa-arrow-up-right.su-inline-block {
        height: 32px !important;
    }
}