<div class="component-slider">
    <div class="swiper swiper-initialized swiper-horizontal swiper-pointer-events swiper-watch-progress component-slider-single swiper-backface-hidden">
        <div class="swiper-wrapper">
            {{> @partial-block }}
        </div>
    </div>
    <div class="component-slider-controls su-flex su-mt-45 lg:su-mt-48 su-items-center su-content-center">
        <nav aria-label="Slide Navigation" class="component-slider-pagination component-slider-pagination-{{uniqueID}} su-mr-full swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal"></nav>
        <button class="component-slider-btn component-slider-prev" type="button">
            <span class="sr-only">Previous</span>
            <span aria-hidden="true" class="su-absolute su-top-[50%] su-left-[50%] su-translate-y-[-50%] su-translate-x-[-50%] su-inline-block">
                {{> icon-chevron-right}}
            </span>
        </button>
        <button class="component-slider-btn component-slider-next" type="button">
            <span class="sr-only">Next</span>
            <span aria-hidden="true" class="su-absolute su-top-[50%] su-left-[50%] su-translate-y-[-50%] su-translate-x-[-50%] su-inline-block">
                {{> icon-chevron-right}}
            </span>
        </button>
    </div>
</div>