  <div class="su-w-full su-component-featured-grid">
      <div
        class="su-flex su-flex-wrap su-gap-[68px] md:su-gap-72 md:su-flex-nowrap {{featuredGridClasses isNested}}">
        {{#if (hasFirstItem items)}}
          {{> featured-grid-content placement=1 alignment=alignment isNested=isNested item=items.[0]}}
        {{/if}}
        <div
          class="su-relative su-flex su-flex-wrap su-grow before:su-w-full before:su-absolute before:su-bg-black-30 dark:before:su-bg-black su-gap-80 md:su-gap-72 lg:su-gap-[76px] before:md:su-w-px before:su-h-px before:md:su-h-full md:su-basis-[39.5%] lg:su-basis-[30%] {{featuredGridDivClasses isNested alignment}}">
          {{#each items}}
            {{#if @index}}
              {{> featured-grid-content
                placement=(increment @index)
                alignment=alignment
                isNested=isNested
              }}
            {{/if}}
          {{/each}}
        </div>
      </div>
</div>
