/* stylelint-disable at-rule-no-deprecated */
/* stylelint-disable media-feature-range-notation */

// .footer-links-wrapper ul {
//     padding-left: 0;
// }

// .footer-top-links ul,
// .footer-bottom-links ul {
//     list-style-type: none;
// }

// @media (max-width: 767px) {
//     .footer-links-wrapper {
//         justify-content: center;
//     }

//     .footer-top-links {
//         padding-top: 0;
//     }

//     .footer-top-links ul {
//         flex-direction: column;
//     }

//     .footer-bottom-links ul {
//         flex-direction: column;
//     }
// }
