{{#if title}}
    <{{headingTag headingSize}} class="su-component-sidebar-heading su-w-full su-flex su-flex-wrap su-gap-6 su-my-0 su-font-sans {{sidebarHeadingClasses color}}">
        {{> bullseye-pointer }}
        <span>{{title}}</span>
    </{{headingTag headingSize}}>
{{/if}}
